<form action="/" style="border:1px solid #ccc">
  <div class="container">
    <h1>Book washservice</h1>
      <div [hidden]="submitted" style="width: 300px;">
        <form (ngSubmit)="onAdd()" [formGroup]="bookForm">
          
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" formControlName="location" required [(ngModel)]="bookpojo.location" name="location" >
          </div>

          <div *ngIf="bookForm.controls['location'].invalid && (bookForm.controls['location'].dirty || bookForm.controls['location'].touched)" class="alert alert-danger">
            <div *ngIf="bookForm.controls['location'].errors.required">
              location is required.
            </div>         
          </div>

          <div class="form-group">
            <label for="date">Date and Time</label>
              <input type="datetime-local" class="form-control" id="date" formControlName="date" required [(ngModel)]="bookpojo.date" name="date">
          </div>

          <div *ngIf="bookForm.controls['date'].invalid && (bookForm.controls['date'].dirty || bookForm.controls['date'].touched)" class="alert alert-danger">
            <div *ngIf="bookForm.controls['date'].errors.required">
              date & time is required.
            </div>  
          </div>

          <button class="btn btn-success" [disabled]="!bookForm.valid" type="submit">Submit</button>
        </form>
      
          <div [hidden]="!submitted">
          </div>
      </div>    
  </div>
</form>