<!DOCTYPE html>
<html>

<body style="background-color: rgb(113, 132, 141)">
  <br>
  <div class="container">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-9">
          <table style="color:honeydew" width="800">
            <thead>
              <tr style="text-align: center">
                <th>Visit us at</th>
                <th>Address</th>
                <th>Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>
                    <a style="color: red" href="dhulaii.com"><h3>dhulaii.com</h3></a></b><br>
                </td>
                <td><br>
                      No. 564, <br>
                      AkshayTech Park, Whitefield,<br>
                      Bangalore,<br>
                      India-560084.<br><br>
                </td>
                <td>  9988776655,<br>
                      8975632100
                </td>
              </tr>       
            </tbody>
          </table>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
    
</body>
</html>

